---
import Button from '../../../components/Button.astro';
import Input from '../../../components/Input.astro';
import AuthLayout from '../../../layouts/AuthLayout.astro';

if (Astro.locals.user) {
	return Astro.redirect('/dashboard');
}
---

<AuthLayout title='Login'>
	<form method='post' action='/api/auth/login' class='flex flex-col space-y-8'>
		<Input context='email' label='Email' type='email' placeholder='johndoe@example.com' />
		<Input context='password' label='Password' type='password' placeholder='********' />
		<div class='flex flex-col sm:flex-row justify-between gap-y-2'>
			<a href='/auth/register' class='hover:text-gray-300'>Don't have an account?</a>
			<a href='' type='submit' class='hover:text-gray-300'>Forgot password?</a>
		</div>
		<p id='form-error' class='text-red-500'></p>
		<Button title='Login' variant='secondary' />
	</form>
</AuthLayout>

<style>
	a {
		font-family: 'Inter', sans-serif;
		font-optical-sizing: auto;
		font-weight: <weight>;
		font-style: normal;
	}

	button,
	input,
	input::placeholder {
		font-family: 'Source Code Pro', monospace;
		font-optical-sizing: auto;
		font-weight: <weight>;
		font-style: normal;
	}
</style>

<script>
	const errorMessageElement = document.getElementById('form-error');

	document.forms[0]?.addEventListener('submit', async (e) => {
		e.preventDefault();

		if (!errorMessageElement) return;
		errorMessageElement.innerText = '';

		const formElement = e.target as HTMLFormElement | null;

		if (!formElement) return;
		const response = await fetch(formElement.action, {
			method: formElement.method,
			body: new FormData(formElement),
		});

		if (response.ok) {
			window.location.href = '/dashboard';
		} else {
			const result = await response.json();
			errorMessageElement.innerText = result.error || 'Unknown error occurred';
		}
	});
</script>
