---
import Button from "../../../components/Button.astro";
import Input from "../../../components/Input.astro";
import AuthLayout from "../../../layouts/AuthLayout.astro";


---

<AuthLayout title="Login">
    <Input context="email" label="Email" type="email" placeholder="johndoe@example.com" />
    <Input context="password" label="Password" type="password" placeholder="********" />
    <a href="">Don't have an account?</a>
    <Button title="Login" type="submit" variant="secondary" />
</AuthLayout>