---
import Button from '../../../components/Button.astro';
import Input from '../../../components/Input.astro';
import AuthLayout from '../../../layouts/AuthLayout.astro';

if (Astro.locals.user) {
	return Astro.redirect('/dashboard');
}
---

<AuthLayout title='Forgot Password'>
    <div class="flex flex-col space-y-8">
        <p class="text-lg text-center">If you really forgot your account's password and want to reset it, please enter your email below to receive a password reset link that will be sent to your email's inbox or spam folder.</p>
        <form method='post' action='/api/auth/reset_password' class='flex flex-col space-y-8'>
            <Input context='email' label='Email' type='email' placeholder='johndoe@example.com' required />
            <div id='form-error' class="p-4 bg-rose-600/30 border border-rose-600 text-rose-600 rounded-lg" style="display: none;"></div>
            <div id='form-success' class="p-4 bg-emerald-600/30 border border-emerald-600 text-emerald-600 rounded-lg" style="display: none;"></div>
            <div class="flex flex-col md:flex-row gap-4">
                <Button title='Send Password Reset Link' variant='primary' />
                <Button title='Cancel' type='button' variant='secondary' onclick="window.location.href='/auth/login';" />
            </div>
        </form>
    </div>
</AuthLayout>

<style>
	body {
		font-family: 'Inter', sans-serif;
		font-optical-sizing: auto;
		font-weight: <weight>;
		font-style: normal;
	}
</style>

<script>
	const errorMessageElement = document.getElementById('form-error');
    const successMessageElement = document.getElementById('form-success');

	document.forms[0]?.addEventListener('submit', async (e) => {
		e.preventDefault();

		if (!errorMessageElement || !successMessageElement) return;
		errorMessageElement.style.display = 'none';
		errorMessageElement.innerText = '';
        successMessageElement.style.display = 'none';
        successMessageElement.innerText = '';

		const formElement = e.target as HTMLFormElement | null;

		if (!formElement) return;
		const response = await fetch(formElement.action, {
			method: formElement.method,
			body: new FormData(formElement),
		});

        const result = await response.json();

		if (response.ok) {
			successMessageElement.innerText = result.success || 'Operation successful';
			successMessageElement.style.display = 'block';
		} else {
			errorMessageElement.innerText = result.error || 'Unknown error occurred';
			errorMessageElement.style.display = 'block';
		}
	});
</script>
