---
import MainLayout from "../../layouts/MainLayout.astro";

const user = Astro.locals.user;
if (!user) {
	return Astro.redirect("/auth/login");
}

const username = user.username;
---

<MainLayout title="Dashboard">
    <div class='flex flex-col gap-y-12 mt-12 mb-12'>
		<div class='w-full'>
			<h1 class='text-4xl font-bold mb-6'>Dashboard</h1>
			<div id='update-success' class='p-4 bg-green-600/20 border border-green-600 text-green-400 rounded-lg' style="display: none;"></div>
		</div>
        <div class='w-full p-4 rounded-xl bg-zinc-800'>
			<h1 class='text-2xl font-semibold mb-2'>Welcome, {username}!</h1>
        </div>
    </div>
</MainLayout>

<style>
	body {
		font-family: 'Inter', sans-serif;
		font-optical-sizing: auto;
		font-weight: <weight>;
		font-style: normal;
	}
</style>