---
import '../styles/globals.css';
import { Icon } from 'astro-icon/components'

const year = new Date().getFullYear();
---

<html lang='en' class="w-full min-h-screen">
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link href='https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap' rel='stylesheet' />
		<title>Astro</title>
		<style>
			h1 {
				font-family: 'Inter', sans-serif;
				font-optical-sizing: auto;
				font-weight: <weight>;
				font-style: normal;
			}
			p,
			button {
				font-family: 'Source Code Pro', monospace;
				font-optical-sizing: auto;
				font-weight: <weight>;
				font-style: normal;
			}
		</style>
	</head>
	<body class='bg-slate-900'>
		<div class='flex flex-col justify-center items-center h-screen space-y-12 md:px-12 lg:px-20 xl:px-40 2xl:px-80 pt-[40rem] sm:pt-[30rem] md:pt-0'>
			<img src='/img/logo/astro-logo-light-gradient.svg' alt='' />
			<div class='grid md:grid-cols-2 gap-4 text-gray-100 antialiased'>
				<a href="https://docs.astro.build/en/getting-started/" target="_blank">
					<div class='p-4 bg-gray-400/30 hover:bg-gray-400/50 duration-300 md:rounded-xl'>
						<div class='flex flex-col gap-y-6'>
							<div class='w-16 h-16 bg-gray-100 rounded-full flex items-center justify-center'>
								<Icon name={'general/book'} class={'text-purple-700 w-10 h-10'} />
							</div>
							<h1 class='text-4xl font-bold'>Documentation</h1>
							<p class='text-lg leading-7 font-medium'>The documentation for Astro.js provides detailed guides and information to help you get started with building fast, modern websites.</p>
						</div>
					</div>
				</a>
				<a href="https://astro.build/themes/" target="_blank">
					<div class='p-4 bg-gray-400/30 hover:bg-gray-400/50 duration-300 md:rounded-xl'>
						<div class='flex flex-col gap-y-6'>
							<div class='w-16 h-16 bg-gray-100 rounded-full flex items-center justify-center'>
								<Icon name={'general/pallete'} class={'text-purple-700 w-10 h-10'} />
							</div>
							<h1 class='text-4xl font-bold'>Theme</h1>
							<p class='text-lg leading-7 font-medium'>Jumpstart your next Astro project with theme to quickly create a consistent and customized appearance for your project without starting from scratch.</p>
						</div>
					</div>
				</a>
				<a href="https://astro.build/blog/" target="_blank">
					<div class='p-4 bg-gray-400/30 hover:bg-gray-400/50 duration-300 md:rounded-xl'>
						<div class='flex flex-col gap-y-6'>
							<div class='w-16 h-16 bg-gray-100 rounded-full flex items-center justify-center'>
								<Icon name={'general/blog'} class={'text-purple-700 w-10 h-10'} />
							</div>
							<h1 class='text-4xl font-bold'>Blog</h1>
							<p class='text-lg leading-7 font-medium'>Get all the latest news from the Astroverse to stay up-to-date with the latest trends and technologies from Astro.</p>
						</div>
					</div>
				</a>
				<div class='p-4 bg-gray-400/30 hover:bg-gray-400/50 duration-300 md:rounded-xl'>
					<div class='flex flex-col gap-y-6'>
						<div class='w-16 h-16 bg-gray-100 rounded-full flex items-center justify-center'>
							<Icon name={'general/dashboard'} class={'text-purple-700 w-10 h-10'} />
						</div>
						<h1 class='text-4xl font-bold'>Dashboard</h1>
						<p class='text-lg leading-7 font-medium'>
							Access your dashboard to manage and explore various features. To get started, first you need to <span class='underline underline-offset-2 hover:text-gray-300 duration-300 font-bold'><a href='/auth/register'>register</a></span>
							or <span class='underline underline-offset-2 hover:text-gray-300 duration-300 font-bold'><a href='/auth/login'>login</a></span>
						</p>
					</div>
				</div>
			</div>
			<div class="flex justify-center text-gray-100/50">
				&copy; {year}, build with Astro and ❤️
			</div>
		</div>
	</body>
</html>