---
const year = new Date().getFullYear();
---

<footer class="w-full py-6 bg-zinc-800 flex items-center justify-center px-8 md:px-12 lg:px-20 xl:px-40 2xl:px-80">
    <p>Copyright &copy; {year}, All Rights Reserved</p>
</footer>