---
import Button from '../../../components/Button.astro';
import Input from '../../../components/Input.astro';
import AuthLayout from '../../../layouts/AuthLayout.astro';

if (Astro.locals.user) {
	return Astro.redirect('/dashboard');
}
---

<AuthLayout title='Register'>
	<form method='post' action='/api/auth/register' class='flex flex-col space-y-8'>
		<Input context='username' label='Username' type='text' placeholder='John Doe' required maxlength={"30"}/>
		<Input context='email' label='Email' type='email' placeholder='johndoe@example.com' required />
		<Input context='password' label='Password' type='password' placeholder='********' required maxlength={"20"} />
		<Input context='confirm_password' label='Confirm Password' type='password' placeholder='********' required maxlength={"20"} />
		<a href='/auth/login' class='hover:text-gray-300'>Already have an account?</a>
		<div id='form-error' class="p-4 bg-rose-600/30 border border-rose-600 text-rose-600 rounded-lg" style="display: none;"></div>
		<div id='form-success' class="p-4 bg-emerald-600/30 border border-emerald-600 text-emerald-600 rounded-lg" style="display: none;"></div>
		<Button title='Register' type='submit' variant='secondary' />
	</form>
</AuthLayout>

<style>
	body {
		font-family: 'Inter', sans-serif;
		font-optical-sizing: auto;
		font-weight: <weight>;
		font-style: normal;
	}
</style>

<script>
	const errorMessageElement = document.getElementById('form-error');
	const successMessageElement = document.getElementById('form-success');

	document.forms[0]?.addEventListener('submit', async (e) => {
		e.preventDefault();

		if (!errorMessageElement || !successMessageElement) return;

		errorMessageElement.style.display = 'none';
		errorMessageElement.innerText = '';
		successMessageElement.style.display = 'none';
		successMessageElement.innerText = '';

		const formElement = e.target as HTMLFormElement | null;

		if (!formElement) return;
		const response = await fetch(formElement.action, {
			method: formElement.method,
			body: new FormData(formElement),
		});

		const result = await response.json();

		if (response.ok) {
			successMessageElement.innerText = result.success || 'Registration successful, email verification link sent. Please wait...';
			successMessageElement.style.display = 'block';

			setTimeout(() => {
				window.location.href = '/auth/email-verification';
			}, 2000);
		} else {
			errorMessageElement.innerText = result.error || 'Unknown error occurred';
			errorMessageElement.style.display = 'block';
		}
	});
</script>