---
import Button from '../../../components/Button.astro';
import Input from '../../../components/Input.astro';
import AuthLayout from '../../../layouts/AuthLayout.astro';

if (Astro.locals.user) {
	return Astro.redirect('/dashboard');
}
---

<AuthLayout title='Register'>
	<form method='post' action='/api/auth/register' class='flex flex-col space-y-8'>
		<Input context='username' label='Username' type='text' placeholder='John Doe' required />
		<Input context='email' label='Email' type='email' placeholder='johndoe@example.com' required />
		<Input context='password' label='Password' type='password' placeholder='********' required />
		<Input context='confirm_password' label='Confirm Password' type='password' placeholder='********' required />
		<a href='/auth/login' class='hover:text-gray-300'>Already have an account?</a>
		<div id='form-error' class="p-4 bg-red-600/30 border border-red-600 text-red-600 rounded-lg" style="display: none;"></div>
		<Button title='Register' type='submit' variant='secondary' />
	</form>
</AuthLayout>

<style>
	body {
		font-family: 'Inter', sans-serif;
		font-optical-sizing: auto;
		font-weight: <weight>;
		font-style: normal;
	}
</style>

<script>
	const errorMessageElement = document.getElementById('form-error');

	document.forms[0]?.addEventListener('submit', async (e) => {
		e.preventDefault();

		if (!errorMessageElement) return;
		errorMessageElement.style.display = 'none';
		errorMessageElement.innerText = '';

		const formElement = e.target as HTMLFormElement | null;

		if (!formElement) return;
		const response = await fetch(formElement.action, {
			method: formElement.method,
			body: new FormData(formElement),
		});

		if (response.ok) {
			window.location.href = '/dashboard';
		} else {
			const result = await response.json();
			errorMessageElement.innerText = result.error || 'Unknown error occurred';
			errorMessageElement.style.display = 'block';
		}
	});
</script>