---
import Button from '../../../components/Button.astro';
import Input from '../../../components/Input.astro';
import AuthLayout from '../../../layouts/AuthLayout.astro';
---

<AuthLayout title='Register'>
	<form method='post' action='/api/auth/register' class='flex flex-col space-y-8'>
		<Input context='username' label='Username' type='text' placeholder='John Doe' />
		<Input context='email' label='Email' type='email' placeholder='johndoe@example.com' />
		<Input context='password' label='Password' type='password' placeholder='********' />
		<a href='/auth/login' class='hover:text-gray-300'>Already have an account?</a>
		<Button title='Register' type='submit' variant='secondary' />
	</form>
</AuthLayout>

<style>
	a {
		font-family: 'Inter', sans-serif;
		font-optical-sizing: auto;
		font-weight: <weight>;
		font-style: normal;
	}

	button,
	input,
	input::placeholder {
		font-family: 'Source Code Pro', monospace;
		font-optical-sizing: auto;
		font-weight: <weight>;
		font-style: normal;
	}
</style>